<%- include('includes/head'); %>
<section class="container">
  <!-- ====================================== 
       === ATIVANDO O EJS ===
      <% %> 
      =========================================== -->
  <!-- ====================================== 
       === Atribuindo o titulo que for passado por parametro para a pagina === 
      <h1><%= titulo%></h1>
      =========================================== -->
  <!-- ======================================
       === Atribuindo o titulo que for passado por parametro para a pagina, com o sinal de menos ele irá renderizar o que foi passado em html na string === 
      <h1><%- tituloHTML%></h1> 
      =========================================== -->
  <!-- ======================================
       ============= Verificação com if ==========
      <h1><% if(typeof titulo !== 'undefined'){ %>
        <%= titulo%>
        <% } else { %>
        O titulo não foi enviado.
        <% } %> %></h1> 
      ========================================= -->
  <!-- ====================================
       === Percorrendo um array ===
      <h1>
        <% numeros.forEach(num => { %>
          <%= num %><br>
        <% }); %> 
      </h1> 
      ========================================= -->
  <h1><%= umaVarialLocal %></h1>
  <form action="/" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <label>Cliente</label>
    <input type="text" name="cliente" />
    <button>Submit</button>
  </form>
</section>

<%- include('includes/footer');%>
